*, *::after, *::before {
	box-sizing: border-box;
}

.header-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.nav-container {
	display: flex;
	align-items: center;
}

/*.body-nav-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.body-nav-item {
	flex: 1;
}*/

.payment-method-container {
	display: flex;
	align-items: center;
}

.product-info-container {
	display: flex;
	align-items: flex-end;
}

.product-info-item {
	flex: 1;
}

.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	max-width: 70%;
	margin: auto;
	/*margin-left: 15%;*/
	/*margin-right: 15%;*/
}

.footer-item {
	flex: 1;
}

@media (max-width: 470px) {
	/*enable hamburger menu*/
}


/*@media (max-width: 1145px) {  (1145px / 10px) * 0.625rem = 71.5625rem 
	disable footer flex or set flex direction to column
	.footer-container {
		max-width: 80%;
	}
}

@media (max-width: 1004px) {
	.footer-container {
		max-width: 85%;
	}
}*/