body {
	color: #555;
	font-family: 'Raleway', sans-serif;
}

a {
	color: #555;
	text-decoration: none;
}

.header {
	box-shadow: 0 2px 1px #DDD;
}

.fixed-header {
	background-color: white;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
}

.logo {
	text-transform: uppercase;
	font-weight: 900;
	margin: 1rem; /* margin set to 0 after scrolling down (sticky-nav) */
	padding: 1rem;
	transition: color 0.75s;
}

.logo:hover, .logo:active, .logo:focus {
	color: red;
	transition: color 0.25s;
}

.header-nav {
	margin: 1rem;
}

.header-nav-link {
	text-transform: lowercase;
	font-weight: 600;
	margin: 1rem;
	transition: color 0.75s;
}

.header-nav-link:hover, .header-nav-link:active, .header-nav-link:focus {
	color: red;
	border-bottom: solid red 2px;
	transition: color 0.25s;
}

.current-page {
	border-bottom: solid red 2px;
}

.body {
	width: 70%;
	margin: auto;
	padding: 2rem;
}

.heading {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 1rem;
}

.divider {
	border: solid red 2px;
	width: 1rem;
	display: inline-block;
	margin: 1rem;
}

.subheading {
	text-transform: lowercase;
	font-size: 2rem;
	margin: 1rem;
}

.title {
	text-transform: uppercase;
	font-size: 1.25rem;
	margin: 1rem;
}

.subtitle {
	text-transform: lowercase;
	font-size: 1rem;
	font-weight: 700;
	margin: 1rem;
}

/*.body-nav {
	box-shadow: 0 2px 1px #DDD;
	margin: 1rem;
}

.body-nav-link {
	padding: 1rem;
}

.body-nav-link:hover, .body-nav-link:active, .body-nav-link:focus {
	border-bottom: solid red 2px;
}*/

.class {
	margin: 1rem;
}

.code {
	line-height: 1.5rem;
	background-color: #EEE;
	border-left: solid #DDD 4px;
	margin: 1rem;
	padding: 0.5rem;
	display: block;
}

.text {
	font-family: 'Hind Siliguri';
	line-height: 1.5rem;
	margin: 1rem;
}

.in-text-link {
	font-weight: 600;
	transition: color 0.75s;
}

.in-text-link:hover, .in-text-link:active, .in-text-link:focus {
	border-bottom: solid red 2px;
}

.in-text-link:active {
	color: red;
	transition: color 0.25s;
}

.button {
	text-transform: lowercase;
	border-radius: 3px;
	margin: 1rem;
	padding: 0.5rem;
	width: 10rem;
}

.reset-button {
	font-weight: 500;
	background: white;
	color: #CCC;
	border: solid #EEE 1px;
	transition: color 0.25s, border 0.25s;
}

.reset-button:hover, .reset-button:focus {
	color: #AAA;
	border-color: #BBB;
	transition: color 0.25s, border 0.25s, background-color 0.25s;
}

.reset-button:active {
	background-color: #EEF;
	transition: background-color 0.25s;
}

.submit-button {
	font-weight: 700;
	background: #EEE;
	color: #555;
	border: none;
	transition: background-color 0.25s, color 0.25s;
}

.submit-button:hover, .submit-button:focus {
	background-color: red;
	color: white;
	transition: background-color 0.25s, color 0.25s;
}

.submit-button:active {
	background-color: white;
	color: #555;
	transition: background-color 0.25s, color 0.25s;
}

/*.image-link {
	border-bottom: solid #EEE 1px;
	transition: opacity 0.25s;
}

.image-link:hover, .image-link:active, .image-link:focus {
	border-bottom: solid red 1px;
	opacity: 0.75;
	transition: opacity 0.25s;
}*/

.header-demo {
	margin: 1rem;
}

.product {
	border: solid #EEE 1px;
	box-shadow: 1px 1px 1px #EEE;
	display: inline-block;
	margin: 1rem;
}

.product:hover {
	border-bottom: solid red 1px;
}

.product-info {
	margin: 1rem;
}

.brand {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.75rem;
}

.product-name {
	font-weight: 700;
}

.price {
	font-weight: 500;
	text-align: right;
}

.footer {
	background: #333;
	color: white;
	box-shadow: 0 2px 1px #222 inset;
}

.footer-section {
	margin: 1rem;
	padding: 1rem;
}

.footer-heading {
	text-transform: uppercase;
	font-weight: 600;
	margin: 1rem;
}

.footer-logo {
	font-weight: 900;
}

.footer-nav {
	list-style-type: none;
	font-weight: 600;
	line-height: 2.5rem;
	margin: 1rem;
	padding: 0;
}

.footer-nav-link {
	color: white;
	transition: color 0.75s;
}

.footer-nav-link:hover, .footer-nav-link:active, .footer-nav-link:focus {
	border-bottom: solid red 2px;
}

.footer-nav-link:active {
	color: red;
	transition: color 0.25s;
}

.social-media-icon {
	max-width: 2rem;
	margin: 1rem;
}